@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    color: white;
    background-color: #191919;
    /*#F24E29*/
}

/*Gerais
------------------*/
nav a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;

    text-transform: uppercase;
    text-shadow: 0px 0px 3px #000000d0;
    color: white;
}

h1{
    font-family: "Bebas Neue";
    font-weight: bold;

    letter-spacing: 2px;
    text-transform: uppercase;
}

h2{
    font-family: "Bebas Neue";
    font-weight: bold;

    letter-spacing: 2px;
    text-transform: uppercase;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #F24E29;
}

input.form-control:focus{
    box-shadow: 0 0 10px 4px #d03e1d;
}

textarea.form-control:focus{
    box-shadow: 0 0 10px 4px #d03e1d;
}

/*Classes
------------------*/
.espaco{
    color: gray;
    padding-left: 7px;

    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

    transition: all 0.2s linear;
}

.branco{
    color: white;
    font-size: 14px;
    font-weight: normal;
}

.zap_topo{
    padding-top: 7px;
}

.caixa_conteudo{
    background-image: linear-gradient(to top, #00000094, transparent);
    border-radius: 20px;
    height: 120px;
    transition: all 0.3s linear;
}

.caixa_conteudo h2{
    padding-top: 5px;
}

.caixa_conteudo:hover{
    background-color: #0000004f;
    border-radius: 10px;
    height: 125px;
    transform: scale(1.05);
}

.botao_laranja{
    color: white;
    text-shadow: 0px 0px 3px #000000d0;
    background-color: #F24E29;
    box-shadow: 0 6px 0px #d03e1d;
    border-radius: 5px;
}

.btn.botao_laranja:focus{
    box-shadow: 0 0 0 0.1rem rgba(255, 103, 103, 0.25);
}

.botao_verde{
    color: white;
    text-shadow: 0px 0px 3px #000000d0;
    background-color: #13C239;
    box-shadow: 0 5px 0 #13952F;
    border-radius: 5px;
}

.btn.botao_verde:focus{
    box-shadow: 0 0 0 0.1rem rgba(149, 255, 103, 0.25);
}

/*Hover
------------------*/
nav a:hover{
    color: #F24E29;
}

/*Navegação
------------------*/

nav{
    border-bottom: 2px solid #F24E29;
}

/*Topo
------------------*/
section#topo{
    height: 550px;
    
    background-image: url(../img/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#topo h1{
    font-size: 5em;
}

section#topo .row{
    height: 550px;
}

/*Servições
------------------*/
section#servicos{
    height: 550px;
}

section#servicos h1{
    font-size: 3.5em;
}

section#servicos .caixa_conteudo h2{
    font-size: 1.7em;
    letter-spacing: 1px;
}

.caixa_conteudo img{
    float: left;
}

/*Sobre
------------------*/
section#sobre{
    background-color: #0D0D0D;
    height: 650px;
}

section#sobre h2{
    font-size: 4em;
    text-align: center;
}

section#sobre #local{
    text-align: center;
}

section#sobre .espaco{
    color: white;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section#sobre #local{
    overflow: hidden;
    white-space: nowrap;
    transition: all 1.2s linear;
}

section#sobre img{
    border-radius: 7px;
}

/*Contato
------------------*/
section#contato{
    height: 500px;
}

section#contato h2{
    font-size: 3em;
}

section#contanto .espaco{
    color: white;
}

/*Rodape
------------------*/
footer#rodape{
    height: 80px;
    background-color: black;
}

footer#rodape p{
    text-align: center;
    padding-top: 15px;
}

/*Classes Animações JS
--------------*/
.invis{
    opacity: 0;
    filter: opacity(0px);
}

.visi{
    opacity: 1;
    filter: opacity(200px);
}